html, body {
	overflow-x: hidden;	
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	background: $light-color;
}

.wrapper {
	height: auto;
	max-width: $large-maxwidth;
	position: relative;
	@include responsive(large-screens) {
			margin: 0 auto;
		}
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
/*
.clearfix {
    display: inline-block;
}
*/
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

::-moz-selection {
	background-color: $primary-color;
	color: $light-color;
}

::selection {
	background: $primary-color;
}

img {max-width: 100%;}

figure { text-align: center; }

figure a:hover { text-decoration:none;}

#personal-image {
	margin: 0 auto;
}

p a, h3 a {
	&:hover {
		color: $secondary-highlight;
		border-bottom: 1px solid $secondary-highlight;
		transition: color .2s ease;
		}
	&:active {
        -webkit-transform: translateY(2px);
	    -moz-transform:    translateY(2px);
	    -ms-transform:     translateY(2px);
	    -o-transform:      translateY(2px);
	    transform:         translateY(2px);
    }
}

.work figure { margin-bottom: 2%; }

.site { padding:2%; border: 2px solid $neutral;}

nav {   
        height: 100%;
        width: 100%;
        position: absolute;
	        @include responsive(medium-screens) {
				display: inline-block;
				float: right;
				width: auto;
				position: static;
			}
        	@include responsive(large-screens) {
			display: inline-block;
		}
    }
    
ul.role {
	list-style: none;
	font-family: "Bookmania-RegularItalic", Georgia, serif;
}

ul.nav {
	width: 100%;  
    display: table;
    position: relative;
    background: $nav-background;
   /*  height: $scale * 3; */
	font-family: $font-sans-bold;
	z-index:100;
	-webkit-box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.7);
	box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.7);
	@include responsive(small-screens) {
		display: none;  
        height: auto;
	}
	@include responsive(medium-screens) {
			display: inline-block;
			float: right;
			width: auto;
			background: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;

		}
	li {
		display: table-cell;
		list-style: none;
		width: 50%;
        float: left;  
        position: relative;
        text-align: center;
        padding: ($scale * .75) 0;
        font-size: $base-font-size;
        letter-spacing: 1px;
        text-transform: uppercase;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        &:hover, &:focus {
	        background-color: $primary-color;
	        & a{
		        color: $light-color;
		        border: 0;
	        }
        }
        @include responsive(medium-screens) {
        	width: auto;
        	font-size: $base-font-size * 1.65;
			line-height: $line-height-scale * 1.25;
			display: inline-block;
			text-align: left;
			padding: 0;
			margin:  ($scale *.75) ($scale * .25);
			&:hover, &:focus {
		        background-color: inherit;
		        & a{
			        color: $primary-highlight;
			        border: 0;
		        }
	        }
	        &:active {
		        -webkit-transform: translateY(2px);
			    -moz-transform:    translateY(2px);
			    -ms-transform:     translateY(2px);
			    -o-transform:      translateY(2px);
			    transform:         translateY(2px);
	        }
		}
		@include responsive(large-screens) {
        	font-size: $base-font-size * 2.5;
			line-height: $line-height-scale * 1.25;
			margin:  ($scale *.75) ($scale * .25);
		}
			&:first-child {
				@include responsive(medium-screens) {
		        	margin-left:0;
				}
			}
		
		a {
			text-decoration: none;
			color: $primary-color;  
	        width: 100%;
	        height: 100%;
			
		}
	}
}

.last {
	@include responsive(medium-screens) {
    	margin-right:0;
	}
}

label { display: block; }

.current {
	text-decoration: line-through;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}

nav a#pull {  
    z-index: 100;
    position: relative;
    float: right;
    margin-right: $scale * 5 / 8;
	font-family: $font-sans-bold;
	font-size: $base-font-size;
	background: $light-color;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: $line-height-scale * 1.13636364;
	text-decoration: none;
	color: $primary-color;
	padding: ($scale / 6) ($scale / 3 );
	margin-top:  ($scale / 3);
	border: 2px $primary-color solid;
	@include rounded(5px);
    display: inline-block;
    @include responsive(medium-screens) {
		display: none;
	    position: relative;
	    float: right;
	    margin-right: $scale * 5 / 8;
	}
}


#logo {
	float: left;
	width: 30%;
	margin-top: -8%;
	margin-bottom: $scale / 3;
	@include responsive(medium-screens) {
    	width:18%;
    	margin-top: -5%;
	}
	@include responsive (large-screens){
		width:16%;
		padding-right: 5px;
	}
	&:hover {
		border: 0;
		-webkit-transform: translate(0px, 5px);
	    -moz-transform:    translate(0px, 5px);
	    -ms-transform:     translate(0px, 5px);
	    -o-transform:      translate(0px, 5px);
		transform: translate(0px, 5px);
		transition: 0.2s all ease-out;
	}
}

.nav {
	display: block;
	z-index: 100;
}

#name-wrapper {
	width: 98%;
	@include responsive(medium-screens) {
    	width:98%;
	}
	@include responsive (large-screens){
		width: 80%;
		margin: 0 auto
	}
}

#name {
	display: block;
	clear: both;
}

#name, #tagline, h1.project-title {
	-webkit-animation-duration: .5s;
}

#contact-bottom {
	margin-top: $scale;
	border-top: 1px solid $neutral;
	@include responsive(medium-screens) {
    	margin-top: $scale * 4;
	}
}

.button-text, a.button-text {
	color: $light-color;
	font-family: $font-sans;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: $base-font-size;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.blog-aside {
	background: $light-background;
}

input[type="submit"] { border: none; display: block; clear: both;}

input[type="submit"]:after {margin-right: 20em;}

input, textarea {
	background: $light-background;
	padding: ($scale / 4) ($scale / 4) 0 ($scale / 4);
	border: none;
}

input { 
	width: 85%;
	@include responsive (medium-screens){width: 80%;}
	}

textarea {
	width: 100%;
	min-height: 8em;
}

.button, .button-center {
	width: 75%;
	padding: ($scale / 3) 0;
	text-align: center;
	margin: ($scale / 4) auto ($scale / 2) auto;
	background: $primary-color;
	display: block;
	-webkit-transition: all .2s ease;
			transition: all .2s ease;
	@include rounded ($scale / 4);
	box-shadow:0px 4px 0px darken($primary-color, 20%);
	@include responsive (medium-screens){
		width: $scale * 8;
		float: left;
		&:hover {
			background: $primary-highlight;
		}
		&:active {
			box-shadow:0px 3px 0px darken($primary-color, 20%);
			-webkit-transform: translate(0px, 1px);
		    -moz-transform:    translate(0px, 1px);
		    -ms-transform:     translate(0px, 1px);
		    -o-transform:      translate(0px, 1px);
			transform: translate(0px, 1px);
		}
	}
	@include responsive (large-screens){
		width: 15em;
		float: left;
		padding: ($scale / 2) 0;
	}	
}

.button-center {
	float:none;
}

footer {
	background: $dark-background;
	color: $mid-background;
	padding: $scale 0;
	margin-top: $scale * 2;
}

ul.social {
	display: table;
	width: 100%;
	height: 100%;
	padding-bottom: $scale / 2;
	@include responsive (medium-screens){
		width: 100%;
		margin-top: $scale / 2
	}
	@include responsive (large-screens){
		width: 100%;
	}
}
.social li {
	display: table-cell;
	text-align: center;
	
	a {
		text-decoration: none;
		&:hover {
		border: 0;
		}
	}
	&:active {
			-webkit-transform: translate(0px, 2px);
		    -moz-transform:    translate(0px, 2px);
		    -ms-transform:     translate(0px, 2px);
		    -o-transform:      translate(0px, 2px);
			transform: translate(0px, 2px);
			-webkit-transition: transform 0.1s linear;
			transition: transform 0.1s linear;
		}
}

ul.about-icons {
	display: table;
	width: 100%;
	@include responsive (medium-screens){
		width: 100%;
		margin-top: $scale / 2
	}
	@include responsive (large-screens){
		width: 100%;
	}
}
.about-icons li {
	display: table-cell;
	text-align: center;
	width: 50%;
}

.work-pad {
	@include responsive (large-screens){
		padding-top: $scale * 2;
		margin-top: 8em;
	}
}

.prev-project a, .prev-project small{
	text-decoration: none;
	float: left;
	border: 0;
	/* clear: both; */
}

.next-project a, .next-project small{
	text-decoration: none;
	float: right;
	border: 0;
	color: $secondary-color
	/* clear: both; */
}

.prev-project h3, .next-project h3 {
	color: $primary-color;
	@include responsive (medium-screens) {
		&:hover {
			color: $primary-highlight;
		}
	}
}

.project-title {
	line-height: 1;
	margin-top: 0;
	text-align: center;
	font-family: $font-sans-bold;
}

.prev-project a, .next-project a {
	padding: 0 0 0;
	@include responsive (large-screens){
		padding: 0 0 ($scale * 2) 0;
	}
}

.project-nav {
	padding-bottom: $scale * 2;
}

.to-top {
	position: static;
	text-align: center;
	clear: both;
	display: block;
	padding-top: $scale;
	color: $primary-color;
	text-decoration: none;
	@include responsive(medium-screens) {
		&:hover {
			color: $primary-highlight;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
			}
		&:active {
			-webkit-transform: translate(0px, 2px);
		    -moz-transform:    translate(0px, 2px);
		    -ms-transform:     translate(0px, 2px);
		    -o-transform:      translate(0px, 2px);
			transform: translate(0px, 2px);
			-webkit-transition: transform 0.1s linear;
			transition: transform 0.1s linear;
		}
	}
}

form { display: block;}

#about-image {
	border-bottom: 4px $primary-color solid;
	margin-bottom: 0;
	display: block;
	margin-top: $scale;
	& img {
		display: block;
		max-width: 80%;
		@include responsive (small-screens) {
			max-width: 80%;
		}
	}
}

.pad-top {
	padding-top: $scale;
	@include responsive(medium-screens){
		padding-top: $scale * 2;	
	}
	@include responsive(large-screens){
		padding-top: $scale * 3;	
	}
}

.block {
	display: block;
}

.posts {
	li {
		list-style: none;
	}
}

.post-date {
	font-family: $font-sans;
	font-weight: normal;
	color: $body-color;
	font-size: $base-font-size * 1.375;
	line-height: $line-height-scale * 1.13636364;
	@include responsive (medium-screens){
		font-size: $base-font-size * 1.5;
		line-height: $line-height-scale * 1.25;
	}
	@include responsive (large-screens){
		font-size: $base-font-size * 1.75;
		line-height: $line-height-scale * 1.25;
	}
}

.post-title {
	font-family: $font-sans-bold;
	font-size: $base-font-size * 1.625;
	line-height: $line-height-scale * 1.15384615;
	margin-top: $scale / 2;
	
	@include responsive (medium-screens){
		font-size: $base-font-size * 2;
		line-height: $line-height-scale * 1.25;
	}
	@include responsive (large-screens){
		font-size: $base-font-size * 2.25;
		line-height: $line-height-scale * 1.25;
	}
}

.archive {
	list-style: none;
}

.s-hide {
	display: none;
	@include responsive(medium-screens) {
        	display: block
		}
}

.homepage-heading {
	color: $primary-color;
}

.full { min-width:100%;}

.arrow-right, .arrow-left {
	font-size: inherit;
	color: $neutral;
	padding: 0 ($scale / 4);
}

h3:hover span.arrow-right {
		-webkit-transform: translate(-2px, 0px);
	    -moz-transform:    translate(-2px, 0px);
	    -ms-transform:     translate(-2px, 0px);
	    -o-transform:      translate(-2px, 0px);
		transform: 		   translate(-2px, 0px);
		transition: transform 0.2s ease-out;
}

h3:hover span.arrow-left {
		-webkit-transform: translate(2px, 0px);
	    -moz-transform:    translate(2px, 0px);
	    -ms-transform:     translate(2px, 0px);
	    -o-transform:      translate(2px, 0px);
		transform: 		   translate(2px, 0px);
		transition: transform 0.2s ease-out;
}

#things {
	font-family: $font-serif-semibold;
	text-align: center;
	margin-top: $scale / 4;
	@include opentype-style;
	
	&:first-letter {
		-moz-font-feature-settings:"swsh" 1; 
		-moz-font-feature-settings:"swsh=1"; 
		-ms-font-feature-settings:"swsh" 1; 
		-o-font-feature-settings:"swsh" 1; 
		-webkit-font-feature-settings:"swsh" 1; 
		font-feature-settings:"swsh" 1;
	}
}

.thought-title {
	clear: both;
	text-align: center;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.thought-title + p {
	font-family: $font-sans;
	text-align: center;
}

.border {
	background: #fff;
	padding: $scale;
	border: 1px solid $neutral; 
	@include rounded ($scale/4);
}

header {
	z-index: 1;
}