$primary-color: #00B7E4; // Cyan

$primary-highlight: #00cafc; // Bright Cyan

$secondary-color: #F6871F; // Orange

$secondary-highlight: #DF5711; // Rich Orange

$body-color: #415459; // Blue/Grey

$neutral: #A6A8AA; // Grey

$light-color: #fafafa; // Almost White

$light-background:#eeeeee;

$mid-background: #555555;

$dark-background: #222222;

$nav-background: rgba(250, 250, 250, .95); // #fafafa

$font-sans: 'ProximaNovaA-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-sans-bold: 'ProximaNovaA-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: 'Bookmania-Regular', Georgia, serif;
$font-serif-semibold: 'Bookmania-Semibold', Georgia, serif;

$line-height-scale: 1.3;
$base-font-size: 1.125em; // 18px / 16px = 1.125em
$scale: 1.444444em;