	<footer class="s-all m-all l-all s-padinfull m-padinfull footer-background">
		<div class="wrapper l-padinfull">
			<div class="s-all m1-m2 l1-l2 s-padin">
				<h3 class="footer-headline"><span class="swsh-salt">B</span>e <span class="swsh-salt">K</span>ind &amp; <div class="line-break">
					<span class="swash">S</span>weat the Detail<span class="salt">s</span>
				</div></h3>
				<p id="footer-colophon">&copy;2014 All Rights Reserved. <span class="line-break">Hand crafted design &amp; code.</span></p>
			</div>
			<div class="s-all m3-m4 l3-l4">
				<!-- <h4>Be Social</h4> -->
				<ul class="social">
					<li>
						<a href="tel:19196739026"><span class="icon-phone"></span></a
					</li>
					<li>
						<a href="mailto:design@justinwmunn.com"><span class="icon-mail"></span></a>
					</li>
					<li>
						<a href="http://twitter.com/jwmunn"><span class="icon-twitter"></span></a>
					</li>
					<li>
						<a href="http://dribbble.com/jwmunn"><span class="icon-dribbble"></span></a>
					</li>
					<li>
						<a href="http://github.com/jwmunn"><span class="icon-github"></span></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/pub/justin-munn/82/ab3/762"><span class="icon-linkedin"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/js/jquery.fittext.js"></script>
	<script>
	//fitText Plugin
	  jQuery("#name").fitText(.73, { maxFontSize: '150px' });
	  jQuery("#tagline").fitText(1.225);
	  jQuery(".thought-title").fitText(.9, { minFontSize: '36px', maxFontSize: '86px' });
	  jQuery(".project-title").fitText(1.225, { minFontSize: '36px' });
	  
	//Mobile Menu Toggle
	$(document).ready(function() {
		var pull 		= $('#pull');
		menu 		= $('nav ul');
		menuHeight	= menu.height();
		
		$(pull).on('click', function(e) {
			e.preventDefault();
			menu.slideToggle();
		});
		$(window).resize(function(){
    		var w = $(window).width();
    		if(w > 320 && menu.is(':hidden')) {
    			menu.removeAttr('style');
    		}
		});
	});
		
	//Google Analytics
	var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37851689-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>