<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="{{ page.excerpt }}">
	<meta name="keywords" content="design, graphic design, web design, web development, responsive web design, web designer">
	<meta name="author" content="Justin W Munn" />
	
	<!-- Social Metadata -->
	<meta property="og:site_name" content="Justin W Munn" />
	<meta property="og:title" content="Raleigh Web Design &amp; Front End Development | Justin W Munn" />
	<meta property="og:url" content="http://justinwmunn.com/"  />
	<meta property="og:description" content="Justin is a web designer with an affinity for typography and code. Let's build something beautiful together." />
	<meta property="og:image" content="http://justinwmunn.com/img/fb-preview.jpg" />
	<meta property="og:page_id" content="358696928754" /> <!-- Look up to change -->
	<meta property="og:type" content="company" /> <!-- Look up to change -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
	<link href="//fnt.webink.com/wfs/webink.css/?project=9606fd75-a9eb-42bf-bc7c-fdb83eb67d18&fonts=D777B240-5907-CCBD-13E4-6249C0D9859E:f=ProximaNovaA-Regular,342A9FC6-F5AC-CA34-4783-BF491ACEA938:f=Bookmania-Semibold,7209521F-AA80-BAC0-267D-20590AB75BF2:f=Bookmania-Regular,4C8177D0-F1A3-8D75-AB44-6085F55D7107:f=ProximaNovaA-Bold,09DEC1B0-02CB-3B89-5980-3102292FF5E8:f=Bookmania-SemiboldItalic,538615DC-DC07-611F-8757-3422BCBCE755:f=Bookmania-RegularItalic,D2755E86-4522-31ED-3A3F-57A6774B4FBB:f=ProximaNovaA-BoldIt" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="stylesheet" href="/css/syntax.css"/>
	<link rel="stylesheet" href="/css/animate.min.css"/>
	<link href="https://get.gridsetapp.com/28409/" rel="stylesheet" />
	<script src="https://get.gridsetapp.com/28409/overlay/"></script>
</head>
<body>
		<header class="wrapper m-padinfull l-padinfull">
			<div class="nav s-all m-all l-all clearfix">
				<a href="/index.html" id="logo" class="s-padinfull">
					<figure class="s-padinfull">
						<img src="/../images/logo.gif" alt="logo" />
					</figure>
				</a>
				<nav>
					<ul class="nav clearfix">
						<li><a href="/about.html">About</a></li>
						<li><a href="/work/">Work</a></li>
						<li><a href="/thoughts/">Thoughts</a></li>
						<li class="last"><a href="/contact.html">Contact</a></li>
					</ul>
				<div class="s-padinfull">
					<a href="/../index.html" id="pull">Menu</a>
				</div>
				</nav>
			</div>
		</header>